@model BaseFinancialViewModel
<h2>Gelir Kaydı Ekle</h2>
@using (Html.BeginForm("Create", "Income", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Partial("_CreateOrEdit")
}