@model BaseFinancialViewModel
<h2>Gider Kaydı Düzenle</h2>
@using (Html.BeginForm("Edit", "Expense", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Partial("_CreateOrEdit")
}