@model SteersViewModel
@using (Html.BeginForm("Edit", "Steers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <section>
        <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2>Dana Bilgilerini Düzenle</h2>
                        @Html.Partial("_CreateOrEdit")
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function () {
            $('#defaultModal').modal();
        });
    </script>
}